header h1{
    font-size: 20px;
    margin-left: 100px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* start-journey */
.flexible {
    display: flex;
}
.start-journey {
    padding-left: 5%;
    padding-right: 5%;
}
.stay-journey-head h1 {
    font-size: 50px;
}
.half-width {
    width: 50%;
    padding: 5%;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    color: white;
    background-color: purple;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 5px;
}

/* logos */
.logos {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

/* popular */
.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.item {
    box-shadow: 5px 5px 15px;
    border-radius: 10px;
    margin-left: 15px;
    padding: 15px;
}
.item img {
    width: 100%;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
.popular {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}
.popular-head {
 text-align: center;
}

.items-banner {
    width: 50px;
    height: 256px;
}
.item-info p {
    font-weight: bold;
}
.fa-star {
    color: #FB8200;
}
.fa-star-half-alt {
    color: #FB8200;
}
.ratings {
    display: flex;
    align-items: center;
}
.ratings span {
    font-weight: bold;
    color: gray;
    margin-left: 10px;
}

/* see more */
.see-more-button {
    text-align: right;
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

/* accessories */
.accessories {
    padding: 5%;
}
.less-width {
    width: 40%;
    padding: 2%;
}
.less-width img {
    width: 100%;
    border-radius: 20px;
}
.more-width {
    width: 60%;
    padding: 2%;
}

/* footer */
footer {
    padding: 5px;
    text-align: center;
    color: white;
    background-color: darkslategrey;
}

/* media queries */

/* mobile */
@media only screen and (max-width: 688px) {
    .logos {
        flex-direction: column;
    }
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
}